<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ElectricityBillDB" connectionString="Data Source=.;Initial Catalog=ElectricityBillDB;Integrated Security=True;TrustServerCertificate=True"/>
  </connectionStrings>
  <appSettings>
    <add key="AdminUser" value="admin"/>
    <add key="AdminPass" value="1234"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
  </system.web>
</configuration>